<?xml version="1.0"?>
<config>
    <modules>
        <Rejoiner_Acr>
            <version>1.2.2</version>
        </Rejoiner_Acr>
    </modules>
    <global>
        <blocks>
            <rejoiner_acr>
                <class>Rejoiner_Acr_Block</class>
            </rejoiner_acr>
        </blocks>
        <helpers>
            <rejoiner_acr>
                <class>Rejoiner_Acr_Helper</class>
            </rejoiner_acr>
        </helpers>
        <models>
            <rejoiner_acr>
                <class>Rejoiner_Acr_Model</class>
            </rejoiner_acr>
        </models>
        <resources>
            <rejoiner_setup>
                <setup>
                    <module>Rejoiner_Acr</module>
                    <class>Rejoiner_Acr_Model_Resource_Setup</class>
                </setup>
            </rejoiner_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <rejoiner>
                <use>standard</use>
                <args>
                    <module>Rejoiner_Acr</module>
                    <frontName>rejoiner</frontName>
                </args>
            </rejoiner>
        </routers>
        <layout>
            <updates>
                <rejoiner_acr>
                    <file>rejoiner_acr.xml</file>
                </rejoiner_acr>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <rejoiner_order_success>
                        <class>rejoiner_acr/observer</class>
                        <method>trackOrderSuccessConversion</method>
                    </rejoiner_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_quote_remove_item>
                <observers>
                    <remove_cart_item>
                        <class>rejoiner_acr/observer</class>
                        <method>removeCartItem</method>
                    </remove_cart_item>
                </observers>
            </sales_quote_remove_item>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rejoiner_acr before="Mage_Adminhtml">Rejoiner_Acr_Adminhtml</rejoiner_acr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Rejoiner_Acr>
                    <files>
                        <default>Rejoiner_Acr.csv</default>
                    </files>
                </Rejoiner_Acr>
            </modules>
        </translate>
        <layout>
            <updates>
                <rejoiner_acr>
                    <file>rejoiner_acr.xml</file>
                </rejoiner_acr>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <checkout>
            <rejoiner_acr>
                <email>0</email>
                <debug_enabled>1</debug_enabled>
            </rejoiner_acr>
        </checkout>
    </default>
</config>